@*Reference Link: https://github.com/aarad-ac/EFCore
Reference Link: https://github.com/aarad-ac/AzureStorageAndMigrations*@
@model Lab4.Models.Community

@{
    Layout = "_Layout";

    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Community</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Budget)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Budget)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
