@*//Reference Link: https://github.com/aarad-ac/EFCore
//Reference Link: https://github.com/aarad-ac/AzureStorageAndMigrations*@
@model Lab4.Models.ViewModels.CommunityViewModel


@{
    ViewData["Title"] = "Student-Edit Memberships";
    Layout = "_Layout";
}

<h1>Edit</h1>

<h3>Student</h3>
<hr />
<b>Full Name:</b>  @Model.Students.First().fullName
<hr />
<table>
    @foreach (var item in Model.Communities)
    {

        <tr>
            <td>
                @item.title
            </td>
            @if (Model.CommunityMemberships.Where(i => i.communityID == item.ID).Count() > 0)
            {

                <td>
                    <a asp-action="UnregisterMemberships" asp-route-studentId="@Model.Students.First().id" asp-route-communityId="@item.ID">Unregister</a>
                </td>
            }
            else
            {
                <td>
                    <a asp-action="RegisterMemberships" asp-route-studentId="@Model.Students.First().id" asp-route-communityId="@item.ID">Register</a>
                </td>
            }
        </tr>


    }
    
</table>
<br>
<a asp-action="Index">Back to List</a>